@model IQueryable<ServiceItem>
@{
    string strTitle = "Панель администратора";
    ViewBag.Title = strTitle;

    ViewBag.ModelService = Model;
}

<div>
    <h1>@strTitle</h1>

    <div>
        <label>Выберите страницу для редактирования: </label>
        <select id="pageName">
            <option value="Services">Наши услуги</option>
            <option value="Main">Страницы сайта</option>
            <option value="News">Новости</option>
        </select>
        <input type="button" id="btnSearch" value="Выбрать" />

        <div id="results">@{await Html.RenderPartialAsync("ServicesPartial");}</div>

        <div class="div-box">
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                <input type="submit" value="Выйти" />
            </form>
        </div>
    </div>
    </div>

<script>
    $('#btnSearch').click(function () {
        $.ajax({
            url: '@Url.Action("Index", "Home")',
            data: { Page: $("#pageName").val() },
            type: 'POST',
            success: function (data) {
                $("#results").html(data);
            }
        });
    });
</script>

