<div class="div-box">
    <h3>Редактировать страницы сайта</h3>
    <a style="text-decoration:none; font-weight:bolder;" asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageIndex">Главная</a>
    <br /><br />
    <a style="text-decoration:none; font-weight:bolder;" asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageNews">Новости</a>
    <br /><br />
    <a style="text-decoration:none; font-weight:bolder;" asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageServices">Наши услги</a>
    <br /><br />
    <a style="text-decoration:none; font-weight:bolder;" asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageContacts">Контакты</a>
</div>