@model IQueryable<TechMessage>

<h3>Сообщения пользователей</h3>
@if (Model.Any())
{
    <div>
        @foreach (TechMessage entity in Model)
        {
            <div>
                <a style="text-decoration:none; font-weight:bolder;" asp-area="Admin" asp-controller="UsersMessages" asp-action="Index" asp-route-id="@entity.Id">
                    @($"{entity.Title}")
                </a>
                <br />
                <a class="div-box" sp-area="Admin" asp-controller="UsersMessages" asp-action="Index" asp-route-id="@entity.Id">Открыть</a>

                <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="UsersMessages" asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@entity.Id" />
                    <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">Удалить</a>
                </form>

                <br />
                <br />
            </div>
        }
    </div>
}