@model NewsMessage
@{
    string strTitle = "Предложить новость";
    ViewBag.Title = strTitle;
}

@*<script src="~/js/ckeditor5/build/ckeditor.js"></script>*@

<div>
    <h2>@strTitle</h2>
    <div>
        <form asp-area="" asp-controller="News" asp-action="Add" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <input type="hidden" asp-for="TitleImagePath" />

            <div asp-validation-summary="All"></div>
            <div class="div-box">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="div-box">
                <label asp-for="Title"></label>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="div-box">
                <label asp-for="Subtitle"></label>
                <input asp-for="Subtitle" />
                <span asp-validation-for="Subtitle"></span>
            </div>
            <div class="div-box">
                <label asp-for="Text"></label>
                <textarea asp-for="Text" id="editor"></textarea>
                <span asp-validation-for="Text"></span>
            </div>
            <div class="div-box div-image">
                <label asp-for="TitleImagePath"></label>
                <input type="file" name="titleImageFile" id="titleImageFile" />
                <div>
                    @if (Model.TitleImagePath != null)
                    {
                        <img class="img-block" src="~/images/uploads/@Model.TitleImagePath" />
                    }
                </div>
            </div>
            <div class="div-box">
                <label asp-for="MetaTitle"></label>
                <input asp-for="MetaTitle" />
                <span asp-validation-for="MetaTitle"></span>
            </div>
            <div class="div-box">
                <label asp-for="MetaDescription"></label>
                <input asp-for="MetaDescription" />
                <span asp-validation-for="MetaDescription"></span>
            </div>
            <div class="div-box">
                <label asp-for="MetaKeywords"></label>
                <input asp-for="MetaKeywords" />
                <span asp-validation-for="MetaKeywords"></span>
            </div>
            <input type="submit" value="Сохранить" />
        </form>
    </div>
</div>

@section sidebar{
    @{await Html.RenderPartialAsync("SidebarPartial"); }
}

<script>
    const watchdog = new CKSource.EditorWatchdog();

    window.watchdog = watchdog;

    watchdog.setCreator((element, config) => {
        return CKSource.Editor
            .create(element, config)
            .then(editor => {




                return editor;
            })
    });

    watchdog.setDestructor(editor => {



        return editor.destroy();
    });

    watchdog.on('error', handleError);

    watchdog
        .create(document.querySelector('#editor'), {

            toolbar: {
                items: [
                    'heading',
                    '|',
                    'fontSize',
                    'bold',
                    'italic',
                    'underline',
                    'link',
                    'fontFamily',
                    'fontBackgroundColor',
                    'fontColor',
                    '|',
                    'findAndReplace',
                    'outdent',
                    'indent',
                    'alignment',
                    'bulletedList',
                    'numberedList',
                    '|',
                    /*'highlight',*/
                    'horizontalLine',
                    /*'blockQuote',*/
                    'insertTable',
                    /*'mediaEmbed',*/
                    'specialCharacters',
                    'undo',
                    'redo'
                ]
            },
            language: 'ru',
            table: {
                contentToolbar: [
                    'tableColumn',
                    'tableRow',
                    'mergeTableCells',
                    'tableCellProperties',
                    'tableProperties'
                ]
            },
            licenseKey: '',



        })
        .catch(handleError);

    function handleError(error) {
        console.error('Oops, something went wrong!');
        console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
        console.warn('Build id: wvlz1qvwy9e3-mtx0289es78g');
        console.error(error);
    }

</script>