@model ServiceViewModel
@{
    ViewBag.Title = Model.TextField.MetaTitle;
    ViewBag.Description = Model.TextField.MetaDescription;
    ViewBag.KeyWords = Model.TextField.MetaKeywords;
}

<div>
    @if (Model.ServiceItems.Any())
    {
        <ul class="big-image-list">
            @foreach (ServiceItem entity in Model.ServiceItems)
            {
                <li>
                    <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                        <img src="~/images/uploads/@entity.TitleImagePath" alt="" class="left" />
                        <h4>@entity.Title</h4>
                    </a>
                    <p>@entity.Subtitle</p>
                </li>
            }
        </ul>
        <page-link page-model="Model.PageViewModel" page-action="Index"></page-link>
    }
</div>