<!DOCTYPE HTML>
<html>
<head>
    @{ await Html.RenderPartialAsync("MetatagsPartial");}
    @{ await Html.RenderPartialAsync("CssPartial");}
    @{ await Html.RenderPartialAsync("ScriptsPartial");}
    
</head>
<body>
    <div id="page-wrapper">
        @{ await Html.RenderPartialAsync("HeaderPartial");}
        <div id="main">
            <div class="container">
                <div class="row main-row">
                    <div class="col-8 col-12-medium">
                        @RenderBody()
                    </div>
                    @{await Html.RenderPartialAsync("SidebarPartial"); }
                </div>
            </div>
        </div>
        @{ await Html.RenderPartialAsync("FooterPartial");}
    </div>
</body>
</html>