@model MailRequest
@{
    string strSubject = "Ответить на сообщение";
    ViewBag.Subject = strSubject;
}

<script src="~/js/ckeditor5/build/ckeditor.js"></script>

<div>
    <h2>@strSubject</h2>
    <div>
        <form asp-area="Admin" asp-controller="UsersMessages" asp-action="Index" method="post" enctype="multipart/form-data">
            <div class="div-box">
                <input asp-for="Id" type="hidden" />
            </div>

            <div asp-validation-summary="All"></div>

            <div class="div-box">
                <label asp-for="Subject"></label>
                <input asp-for="Subject" readonly />
            </div>

            <div class="div-box">
                <label asp-for="DateSent"></label>
                <input type="text" asp-for="DateSent" readonly />
            </div>

            <div class="div-box">
                <label asp-for="ToEmail"></label>
                <input asp-for="ToEmail" readonly />
            </div>

            <div class="div-box">
                <label asp-for="UserBody"></label>
                <textarea asp-for="UserBody" readonly></textarea>
            </div>

            <div class="div-box">
                <label asp-for="ResponseBody"></label>
                <textarea asp-for="ResponseBody" id="editor"></textarea>
                <span asp-validation-for="ResponseBody"></span>
            </div>
            <input type="submit" value="Отправить" />
        </form>
    </div>
</div>

<script>
    const watchdog = new CKSource.EditorWatchdog();

    window.watchdog = watchdog;

    watchdog.setCreator((element, config) => {
        return CKSource.Editor
            .create(element, config)
            .then(editor => {




                return editor;
            })
    });

    watchdog.setDestructor(editor => {



        return editor.destroy();
    });

    watchdog.on('error', handleError);

    watchdog
        .create(document.querySelector('#editor'), {

            toolbar: {
                items: [
                    'heading',
                    '|',
                    'fontSize',
                    'bold',
                    'italic',
                    'underline',
                    'link',
                    'fontFamily',
                    'fontBackgroundColor',
                    'fontColor',
                    '|',
                    'findAndReplace',
                    'outdent',
                    'indent',
                    'alignment',
                    'bulletedList',
                    'numberedList',
                    '|',
                    /*'highlight',*/
                    'horizontalLine',
                    /*'blockQuote',*/
                    'insertTable',
                    /*'mediaEmbed',*/
                    'specialCharacters',
                    'undo',
                    'redo'
                ]
            },
            language: 'ru',
            table: {
                contentToolbar: [
                    'tableColumn',
                    'tableRow',
                    'mergeTableCells',
                    'tableCellProperties',
                    'tableProperties'
                ]
            },
            licenseKey: '',



        })
        .catch(handleError);

    function handleError(error) {
        console.error('Oops, something went wrong!');
        console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
        console.warn('Build id: wvlz1qvwy9e3-mtx0289es78g');
        console.error(error);
    }

</script>